<template>
  <div :class="classes">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import './styles.scss'

const props = defineProps({
  elevation: {
    type: [Number, String],
    default: 0,
  }
})

const classes = computed<Record<string, boolean>>(() => ({
  'az-panel': true,
  ['az-panel--ele-' + props.elevation]: true,
}))
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'az-panel',
})

</script>
