@import "../../sass/elevations";

.az-panel {
  background: #fff;
  overflow: hidden;
  &--ele-0 {
    @include elevation-0();
  }
  &--ele-1 {
    @include elevation-1();
  }
  &--ele-2 {
    @include elevation-2();
  }
  &--ele-3 {
    @include elevation-3();
  }
}
