<template>
  <slot></slot>
</template>

<script lang="ts" setup>
import { computed, PropType, provide, toRef, watch } from 'vue';
import { proxyValue } from '../../composables/base-input';
import { v4 as uuid } from 'uuid';
import { RadioGroupProvide } from './typings';

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: {
    type: [Boolean, String, Number] as PropType<boolean | string | number | null>,
    default: null,
  },
  block: Boolean,
  disabled: Boolean,
  name: String,
})

const { internalValue, actualValue } = proxyValue(toRef(props, 'modelValue'), emit);
watch(toRef(props, 'modelValue'), (val) => internalValue.value = val)

function updateActualValue(value: string | number | boolean | null) {
  actualValue.value = value
}

const randomName = uuid();
const computedName = computed(() => props.name || randomName)

provide<RadioGroupProvide>('radioGroup', {
  actualValue,
  updateActualValue,
  block: toRef(props, 'block'),
  disabled: toRef(props, 'disabled'),
  name: computedName,
})

</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-radio-group',
});
</script>
