<template>
  <div :class="classes">
    <label>
      <input
        type="radio"
        class="az-radio__input"
        :name="computedName"
        :value="value"
        :checked="isChecked"
        :disabled="isDisabled"
        @change="onChange"
        @focus="onFocus"
        @blur="onBlur"
        ref="input"
      />
      <span class="az-radio__indicator"></span>
      <span class="az-radio__label" v-if="hasLabel">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script lang="ts" setup>
import { computed, getCurrentInstance, inject, onUpdated, PropType, Ref, ref, toRef, watch } from 'vue';
import { proxyValue } from '../../composables/base-input';
import AzIcon from '../icon/index.vue';
import './styles.scss'
import { RadioGroupProvide, TPrimitiveNull } from './typings';
import {
  getComputedIsDisabled,
  getComputedName,
  getRadioInputValue,
  injectRadioGroup,
  useFocusBlurHook,
} from '../../composables/toggle-controls';

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  value: {
    type: [Boolean, String, Number] as PropType<boolean | string | number | null>,
    required: true,
  },
  modelValue: {
    type: [Boolean, String, Number] as PropType<TPrimitiveNull>,
    default: null,
  },
  intent: {
    type: String as PropType<'default' | 'success' | 'error'>,
    default: 'default',
  },
  name: String,
  block: Boolean,
  disabled: Boolean,
})
const input = ref(null)
const { isFocused, onFocus, onBlur } = useFocusBlurHook()

const radioGroup = injectRadioGroup()

const internalValue = ref<TPrimitiveNull>(props.modelValue)
const actualInputValue = getRadioInputValue(internalValue, radioGroup)
watch(toRef(props, 'modelValue'), (val) => internalValue.value = val)

const isDisabled = getComputedIsDisabled(toRef(props, 'disabled'), radioGroup)
const isChecked = computed(() => {
  return actualInputValue.value === props.value
})

const classes = computed<Record<string, boolean>>(() => ({
  'az-radio': true,
  'az-radio--block': !!(props.block || radioGroup?.block.value),
  'az-radio--is-checked': isChecked.value,
  'az-radio--is-focused': isFocused.value,
  'az-radio--is-disabled': isDisabled.value,
  ['az-radio--' + props.intent]: props.intent !== 'default',
}))

const computedName = getComputedName(toRef(props, 'name'), radioGroup)
const instance = ref(getCurrentInstance());
const hasLabel = ref(!!instance.value?.slots.default)

onUpdated(() => {
  hasLabel.value = !!instance.value?.slots.default
})

function onChange() {
  if (radioGroup) {
    !isChecked.value && radioGroup.updateActualValue(props.value)
  } else {
    internalValue.value = props.value
    emit('update:modelValue', props.value)
  }
}
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-radio',
});
</script>
