@import "../../sass/colors";

@mixin applyIntent($el, $checkedBg, $hoverBg, $activeBg, $checkedActiveBg, $focusShadowColor, $disabledBg) {
  &:not(#{$el}--is-disabled)>label:hover #{$el}__indicator {
    border-color: $hoverBg;
  }
  &:not(#{$el}--is-disabled)>label:active #{$el}__indicator {
    border-color: $checkedActiveBg;
    background: $activeBg;
  }
  &#{$el}--is-checked {
    #{$el}__indicator {
      background: $checkedBg;
      border-color: $checkedBg;
    }
    &:not(#{$el}--is-disabled)>label:hover #{$el}__indicator {
      border-color: $hoverBg;
      background: $hoverBg;
    }
    &:not(#{$el}--is-disabled)>label:active #{$el}__indicator {
      border-color: $checkedActiveBg;
      background: $checkedActiveBg;
    }
    &#{$el}--is-disabled #{$el}__indicator,
    &#{$el}--is-disabled>label:active #{$el}__indicator,
    &#{$el}--is-disabled>label:hover #{$el}__indicator {
      border-color: $disabledBg;
      background: $disabledBg;
    }
  }
  &#{$el}--is-focused #{$el}__indicator {
    box-shadow: 0 0 0 2px $focusShadowColor;
  }
}

.az-radio {
  $el: &;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  &--block {
    display: block;
  }
  &>label {
    vertical-align: top;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    input[type=radio] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
    }
  }
  &__indicator {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $n400;
    flex: 0 0 auto;
    overflow: hidden;
    line-height: 1;
    font-size: 12px;
    transform: translate3d(0,0,0);
    color: #fff;
    position: relative;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $white;
    }
  }
  &__indicator + &__label {
    padding-left: 8px;
  }

  &--is-disabled>label {
    cursor: not-allowed;
  }
  &--is-disabled:not(#{$el}--is-checked) #{$el}__indicator {
    background: $n100;
    border-color: $n100;
    &::before {
      opacity: 0;
    }
  }
  &--is-disabled #{$el}__label {
    color: $n600;
  }

  @include applyIntent($el, $b400, $b500, $n100, $b600, $b200, $b200);

  &--error {
    @include applyIntent($el, $r400, $r500, $r200, $r600, $r100, $r200);
  }
  &--success {
    @include applyIntent($el, $g400, $g500, $g200, $g600, $g200, $g200);
  }

  &#{$el}--is-focused>label #{$el}__indicator,
  &#{$el}--is-focused>label:hover #{$el}__indicator {
    border-color: transparent;
  }

}
