<template>
  <button
    :class="classes"
    :disabled="isDisabledState"
    @click="onClick"
  >
    <span
      v-if="isLoading"
      class="az-btn__loader"
    >
      <az-spinner />
    </span>
    <span class="az-btn__body">
      <az-icon
        v-if="iconBefore"
        class="az-btn__icon-before"
        :icon="iconBefore"
      />
      <az-icon
        v-if="!!icon && typeof icon === 'string'"
        class="az-btn__icon"
        :icon="icon + ''"
      />
      <span v-if="hasContent && (!icon || typeof  icon !== 'string')" class="az-btn__content">
        <slot></slot>
      </span>
      <az-icon
        v-if="iconAfter"
        class="az-btn__icon-after"
        :icon="iconAfter"
      />
    </span>
  </button>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import './styles.scss'
import AzSpinner from '../spinner/index.vue';
import AzIcon from '../icon/index.vue';

export default defineComponent({
  name: 'AzBtn',
  emits: ['click'],
  components: {
    AzSpinner,
    AzIcon,
  },
  props: {
    appearance: {
      type: String as PropType<'primary' | 'default' | 'minimal'>,
      validator(val: string) {
        return ['primary', 'default', 'minimal'].includes(val)
      },
      default: 'default'
    },
    intent: {
      type: String as PropType<'none' | 'error' | 'success'>,
      validator(val: string | null | undefined) {
        return [null, undefined, 'error', 'none', 'success'].includes(val)
      },
      default: 'none',
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
    iconBefore: String,
    iconAfter: String,
    icon: [String, Boolean],
  },
  setup(props: any, { emit, slots }) {
    const isDisabledState = computed<boolean>(() => {
        return props.isLoading || props.isDisabled || false
    })
    const hasContent = computed<boolean>(() => {
      return !!slots.default
    })
    const classes = computed<Record<string, boolean>>(() => {
      return {
        'az-btn': true,
        'az-btn--is-loading': props.isLoading,
        'az-btn--is-icon': !!props.icon,
        ['az-btn--ap-' + props.appearance]: true,
        ['az-btn--intent-' + props.intent]: ['success', 'error'].includes(props.intent),
      }
    })
    function onClick(e: PointerEvent) {
      if (isDisabledState.value) return;
      console.log('click')
      emit('click', e)
    }
    return {
      isDisabledState,
      hasContent,
      classes,
      onClick,
    }
  }
})
</script>
