@import "../../sass/colors";

.az-btn {
  line-height: 32px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  vertical-align: middle;
  &__body {
    display: flex;
    align-items: center;
  }
  &__icon-before, &__icon-after, &__icon {
    font-size: 18px;
  }
  &__icon-before + &__content {
    margin-left: 6px;
  }
  &__content + &__icon-after {
    margin-left: 6px;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
.az-btn--is-icon {
  height: 32px;
  width: 32px;
  padding: 0;
}
.az-btn--ap-default {
  color: $n700;
  border: 1px solid $n400;
  background: $white;
  &:hover {
    color: $n800;
    border-color: $n600;
  }
  &:focus {
    color: $n800;
    border-color: $n500;
    box-shadow: 0 0 0 2px $b200;
  }
  &:active {
    color: $n800;
    border-color: $n500;
    background: $n100;
  }
  &:disabled {
    color: $n500;
    border-color: $n300;
    background: $n0;
  }
}
.az-btn--ap-default.az-btn--intent-error {
  border-color: $r200;
  color: $r400;
  &:hover {
    color: $r400;
    border-color: $r300;
  }
  &:focus {
    color: $r400;
    border-color: $r200;
    box-shadow: 0 0 0 2px $r100;
  }
  &:active {
    color: $r400;
    border-color: $r300;
    background: $r50;
  }
  &:disabled {
    color: $r200;
    border-color: $r100;
    background: $n0;
  }
}
.az-btn--ap-default.az-btn--intent-success {
  border-color: $g300;
  color: $g400;
  &:hover {
    color: $g400;
    border-color: $g400;
  }
  &:focus {
    color: $g400;
    border-color: $g400;
    box-shadow: 0 0 0 2px $g100;
  }
  &:active {
    color: $g400;
    border-color: $g500;
    background: $g50;
  }
  &:disabled {
    color: $g300;
    border-color: $g200;
    background: $n0;
  }
}

.az-btn--ap-primary {
  color: $white;
  border: 1px solid $b400;
  background: $b400;
  &:hover {
    color: $white;
    background: $b500;
    border-color: $b500;
  }
  &:focus {
    color: $white;
    background: $b500;
    border-color: $b500;
    box-shadow: 0 0 0 2px $b200;
  }
  &:active {
    color: $white;
    background: $b600;
    border-color: $b600;
  }
  &:disabled {
    color: $white;
    border-color: $b200;
    background: $b200;
  }
}

.az-btn--ap-primary.az-btn--intent-error {
  border-color: $r400;
  background: $r400;
  color: $white;
  &:hover {
    color: $white;
    border-color: $r500;
    background: $r500;
  }
  &:focus {
    color: $white;
    border-color: $r500;
    background: $r500;
    box-shadow: 0 0 0 2px $r100;
  }
  &:active {
    color: $white;
    border-color: $r600;
    background: $r600;
  }
  &:disabled {
    color: $white;
    border-color: $r100;
    background: $r100;
  }
}
.az-btn--ap-primary.az-btn--intent-success {
  border-color: $g400;
  background: $g400;
  color: $white;
  &:hover {
    color: $white;
    border-color: $g500;
    background: $g500;
  }
  &:focus {
    color: $white;
    border-color: $g500;
    background: $g500;
    box-shadow: 0 0 0 2px $g100;
  }
  &:active {
    color: $white;
    border-color: $g600;
    background: $g600;
  }
  &:disabled {
    color: $white;
    border-color: $g200;
    background: $g200;
  }
}

.az-btn--ap-minimal {
  color: $n700;
  border: 1px solid transparent;
  background: none;
  &:hover {
    color: $n800;
    background: $n100;
    border-color: $n100;
  }
  &:focus {
    color: $n700;
    background: $n50;
    border-color: $n50;
    box-shadow: 0 0 0 2px $b200;
  }
  &:active {
    color: $n800;
    background: $n200;
    border-color: $n200;
  }
  &:disabled {
    color: $n400;
    border-color: transparent;
    background: none;
  }
}
.az-btn--ap-minimal.az-btn--intent-success {
  color: $g500;
  border: 1px solid transparent;
  background: none;
  &:hover {
    color: $g600;
    background: $g100;
    border-color: $g100;
  }
  &:focus {
    color: $g600;
    background: $g50;
    border-color: $g50;
    box-shadow: 0 0 0 2px $g200;
  }
  &:active {
    color: $g600;
    background: $g100;
    border-color: $g100;
  }
  &:disabled {
    color: $g300;
    border-color: transparent;
    background: none;
  }
}
.az-btn--ap-minimal.az-btn--intent-error {
  color: $r400;
  border: 1px solid transparent;
  background: none;
  &:hover {
    color: $r500;
    background: $r50;
    border-color: $r50;
  }
  &:focus {
    color: $r500;
    background: $r50;
    border-color: $r50;
    box-shadow: 0 0 0 2px $r100;
  }
  &:active {
    color: $r600;
    background: $r100;
    border-color: $r100;
  }
  &:disabled {
    color: $r100;
    border-color: transparent;
    background: none;
  }
}

.az-btn--is-loading {
  &, &:disabled {
    cursor: wait;
  }
  .az-btn__body {
    visibility: hidden;
  }
  .az-btn__loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .az-spinner {
      width: 22px;
    }
  }
}

