// Neutral (Gray)
$n900: #101840; // Headlines
$n800: #474d66; // Text normal
$n700: #696f8c; // Text muted
$n600: #8f95b2; // Icons normal
$n500: #c1c4d6; // Icons muted
$n400: #d8dae5; // Border normal
$n300: #E6E8F0; // Border muted, separators
$n200: #edeff5; // Background darker
$n100: #F4F6FA; // Background normal
$n75: #F9FAFC; // Background light
$n50: #FAFBFF; // Background lighter
$n0: #fff; // Background white

// Blue
$b600: #1F3D99; // Pressed primary buttons, switches, checkboxes, radio
$b500: #2952CC; // Info alert and toast text, hover and focused primary controls, tag icon
$b400: #3366FF; // Main actions like primary buttons, links, hover, active status; Info icons and alert border
$b300: #9DB5FF; // Focused input and select borders
$b200: #D6E0FF; // Avatar/badge/pill background
$b100: #EBF0FF; // Hover and active background in tables and lists
$b50: #F3F6FF; // Info alert background and selected rows in tables

// Green
$g600: #317159; // Success alert, toast text, avatar/badge/pill text
$g500: #429777; // Segment Octopus background
$g400: #52BD94; // Success status, icons and alert border
$g300: #A3E6CD;
$g200: #DCF2EA; // Avatar/badge/pill background, step tabs background
$g100: #EEF8F4; // Segment Octopus border
$g50: #F5FBF8; // Success alert background

// Yellow
$y600: #66460D; // Warning avatar/badge/pill text, warning alerts, toasts icon
$y500: #996A13; // Warning alert and toast text
$y400: #FFB020; // Warning status, icons and alert border
$y300: #FFD079;
$y200: #FFDFA6;
$y100: #FFEFD2; // Avatar/badge/pill background
$y50: #FFEFD2; // Warning alert background

// Red
$r600: #7D2828; // Pressed error button, error alerts, toasts icon, avatar/badge/pill text
$r500: #A73636; // Hover error button, warning alert and toast text
$r400: #D14343; // Danger status, icons and alert border
$r300: #D14343;
$r200: #F4B6B6;
$r100: #F9DADA; // Disabled error buttons, avatar/badge/pill background
$r50: #FDF4F4; // Error alert and toast background

// Violet
$v600: #524988; // Avatar/badge/pill text
$v500: #6E62B6;
$v400: #897AE3;
$v300: #B8AFEE;
$v200: #D0CAF4;
$v100: #E7E4F9; // Avatar/badge/pill background
$v50: #F8F7FD;

// Teal
$t600: #0F5156; // Avatar/badge/pill text
$t500: #10899E;
$t400: #25CBD6;
$t300: #7CE0E6;
$t200: #A8EAEF;
$t100: #D3F5F7; // Avatar/badge/pill background
$t50: #F2FCFD;

// Pink
$p600: #8E3374; // Avatar/badge/pill text
$p500: #BE449B;
$p400: #ED55C2;
$p300: #F499DA;
$p200: #F8BBE7;
$p100: #FBDDF3; // Avatar/badge/pill background
$p50: #FEF5FB;

// Orange
$o600: #85462B; // Avatar/badge/pill text
$o500: #B25E3A;
$o400: #DE7548;
$o300: #EBAC91;
$o200: #F2C8B6;
$o100: #F8E3DA; // Avatar/badge/pill background
$o50: #FDF4F4;

$chart-teal: #74DDE5;
$chart-yellow: #FAC86B;
$chart-blue: #678AF7;
$chart-green: #6BDAAE;
$chart-violet: #8F59EF;
$chart-pink: #FD8ADC;
$chart-aqua: #70B0FF;
$chart-orange: #FF9D66;

// Aliases
$blue: $b400;
$neutral: $n800;
$white: $n0;
$green: $g400;
$yellow: $y400;
$red: $r400;
$violet: $v400;
$teal: $t400;
$pink: $p400;
$orange: $o400;

