@import "colors";

html {
  height:100%;
}

body {
  min-height:100%;
  overflow-y:auto;
  display: flex;
  align-items: stretch;
}
#app {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}
.demo-layout {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}
.demo-sidebar {
  width: 300px;
  flex: 0 0 auto;
  border-right: 1px solid #ddd;
  padding: 16px;
  .demo-nav-link {
    display: flex;
    padding: 8px;
    color: $n600;
    text-decoration: none;
    margin-bottom: 4px;
    border-radius: 4px;
    &:not(&--is-active):hover {
      background: $b50;
      color: $n900;
    }
    &--is-active {
      background: $b100;
      color: $n900;
    }
  }
}
.demo-body {
  flex: 1 1 auto;
}

.demo-page {
  width: 1090px;
  margin: 0 auto;
  padding: 8px 0 40px;
  h1 {
    margin-bottom: 36px;
  }
}

.demo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
