@mixin elevation-0 {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: none;
}
@mixin elevation-1 {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  border-radius: 8px;
}
@mixin elevation-2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.16);
  border-radius: 4px;
}
@mixin elevation-3 {
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgba(16, 24, 64, 0.24);
  border-radius: 8px;
}
