@import "../../sass/colors";
.az-menu-group {
  padding-top: 8px;
  padding-bottom: 8px;
  &__title {
    margin: 8px 16px;
    font-size: 10px;
    color: $n700;
    text-transform: uppercase;
    font-weight: 500;
  }
}
