@import "../../sass/colors";
.az-menu-item {
  $el: &;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  color: $n800;
  background: $n0;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  &__line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .25s ease-in-out;
    transform-origin: left center;
    transform: scaleX(0);
    width: 2px;
    border-radius: 0px 2px 2px 0px;
    background: $b400;
  }
  &:not(#{$el}--is-disabled):active &__line {
    transform: scaleX(1);
  }
  &__icon, &__hotkey {
    flex: 0 0 auto;
  }
  &__icon {
    color: $n600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    font-size: 18px;
  }
  &__hotkey {
    font-size: 12px;
    color: $n700;
  }
  &__label {
    flex: 1 1 auto;
  }
  &:not(#{$el}--is-disabled):not(#{$el}--is-active):hover, &:focus {
    background: $n75;
  }
  &--is-active,
  &--is-active:hover,
  &--is-active:focus {
    background: $b100;
    color: $b400;
    #{$el}__label {
      font-weight: 500;
    }
    &::before {
      transform: scaleX(1);
    }
    #{$el}__icon {
      color: $b400;
    }
  }
  &--is-disabled {
    cursor: not-allowed;
    #{$el}__label {
      color: $n400;
    }
    #{$el}__icon {
      color: $n300;
    }
    #{$el}__hotkey {
      color: $n400;
    }
  }
  &:focus {
    outline: none;
  }
}
