<template>
  <div class="az-menu-group">
    <div
      v-if="hasTitle"
      class="az-menu-group__title"
    >
      <slot name="title">{{ title }}</slot>
    </div>
    <div class="az-menu-group__items">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, getCurrentInstance } from 'vue';
import './menu-group.scss'

const props = defineProps({
  title: String,
})

const slots = getCurrentInstance()?.slots;
const hasTitle = computed(() => props.title || !!slots.title)
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-menu-group',
});
</script>
