<template>
  <div
    class="az-menu"
    ref="el"
    @keydown="onKeyPress"
  >
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>
import { provide, ref, unref } from 'vue';

const el = ref(null);
const items = ref<HTMLElement[]>([]);
const focusedItem = ref<HTMLElement | null>(null)
const emit = defineEmits(['keydown'])

function registerItem(el: HTMLElement) {
  items.value.push(unref(el));
}
function unregisterItem(el: HTMLElement) {
  items.value = items.value.filter((item) => unref(item) !== unref(el))
}
function setFocusedItem(el: HTMLElement) {
  focusedItem.value = unref(el);
}
function blurItem(el: HTMLElement) {
  if (unref(focusedItem.value) === unref(el)) {
    focusedItem.value = null;
  }
}

provide('registerItem', registerItem)
provide('unregisterItem', unregisterItem)
provide('focusItem', setFocusedItem)
provide('blurItem', blurItem)

function findNextEnabledItem(startFrom = 0) {
  for (let i = startFrom + 1; i < items.value.length; i++) {
    if (unref(items.value[i]).ariaDisabled !== 'true') {
      return i;
    }
  }
  for (let i = 0; i < startFrom; i++) {
    if (unref(items.value[i]).ariaDisabled !== 'true') {
      return i;
    }
  }
  return startFrom;
}
function findPrevEnabledItem(startFrom = 0) {
  for (let i = startFrom - 1; i >= 0; i--) {
    if (unref(items.value[i]).ariaDisabled !== 'true') {
      return i;
    }
  }
  for (let i = items.value.length - 1; i > startFrom; i--) {
    if (unref(items.value[i]).ariaDisabled !== 'true') {
      return i;
    }
  }
  return startFrom;
}

function onKeyPress(evt: KeyboardEvent) {
  const focusedIndex = unref(items.value).indexOf(unref(focusedItem.value))
  switch (evt.key) {
    case 'ArrowDown': {
      evt.preventDefault();
      const nextEnabledItemIndex = findNextEnabledItem(focusedIndex);
      console.log(nextEnabledItemIndex);
      focusedItem.value = items.value[nextEnabledItemIndex];
      focusedItem.value && (focusedItem.value as HTMLElement).focus()
      break;
    }
    case 'ArrowUp': {
      evt.preventDefault();
      const prevEnabledItemIndex = findPrevEnabledItem(focusedIndex);
      focusedItem.value = items.value[prevEnabledItemIndex];
      focusedItem.value && (focusedItem.value as HTMLElement).focus()
      break;
    }
    case 'Home': {
      evt.preventDefault();
      let index = focusedIndex;
      for (let i = 0; i < items.value.length; i++) {
        if (unref(items.value[i]).ariaDisabled !== 'true') {
          index = i;
          break;
        }
      }
      focusedItem.value = items.value[index];
      focusedItem.value && (focusedItem.value as HTMLElement).focus()
      break;
    }
    case 'End': {
      evt.preventDefault();
      let index = focusedIndex;
      for (let i = items.value.length - 1; i >= 0; i--) {
        if (unref(items.value[i]).ariaDisabled !== 'true') {
          index = i;
          break;
        }
      }
      focusedItem.value = items.value[index];
      focusedItem.value && (focusedItem.value as HTMLElement).focus()
      break;
    }
  }
  emit('keydown', evt)
}
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-menu',
});
</script>
