<template>
  <div
    class="az-menu-item"
    :class="{'az-menu-item--is-active': active, 'az-menu-item--is-disabled': disabled}"
    :aria-disabled="disabled"
    :role="role"
    :tabindex="(disabled) ? undefined : 0"
    ref="el"
    @focus="onFocus"
    @blur="onBlur"
    @keydown="onKeyDown"
    @click="onClick"
  >
    <span class="az-menu-item__line"></span>
    <div v-if="hasIcon" class="az-menu-item__icon">
      <slot name="icon">
        <az-icon :icon="icon"></az-icon>
      </slot>
    </div>
    <div class="az-menu-item__label">
      <slot></slot>
    </div>
    <div v-if="hasHotkey" class="az-menu-item__hotkey">
      <slot name="hotkey">{{ hotkey }}</slot>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { getCurrentInstance, inject, onBeforeUnmount, onMounted, ref, unref } from 'vue';
import AzIcon from '../icon/index.vue';
import './menu-item.scss'

const emit = defineEmits(['select', 'focus', 'blur'])
const props = defineProps({
  icon: {
    type: String,
    default: null,
  },
  hotkey: {
    type: String,
    default: null,
  },
  active: Boolean,
  disabled: Boolean,
  role: {
    type: String,
    default: 'menuitem',
  },
})

const el = ref(null);
const slots = getCurrentInstance()?.slots;
const hasHotkey = props.hotkey || (slots?.hotkey)
const hasIcon = props.icon || (slots?.icon)

const registerItem = inject('registerItem', null) as ((el: HTMLElement) => void);
const unregisterItem = inject('unregisterItem', null) as ((el: HTMLElement) => void);
const focusItem = inject('focusItem', null) as ((el: HTMLElement) => void);
const blurItem = inject('blurItem', null) as ((el: HTMLElement) => void);

function onFocus() {
  focusItem && focusItem(el)
  emit('focus', unref(el))
}

function onBlur() {
  blurItem && blurItem(el)
  emit('blur', unref(el))
}

function onClick() {
  emit('select', unref(el))
}

function onKeyDown(evt: KeyboardEvent) {
  if (evt.key === 'Enter' || evt.key === ' ') {
    evt.preventDefault()
    onClick()
  }
}

onMounted(() => {
  registerItem && registerItem(el as HTMLElement)
})

onBeforeUnmount(() => {
  unregisterItem && unregisterItem(el as HTMLElement)
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'az-menu-item',
})
</script>
