<template>
  <hr class="az-menu-divider" />
</template>

<script lang="ts" setup>
import './menu-divider.scss'
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-menu-divider',
});
</script>
