<template>
<az-menu-group class="az-menu-cb-group">
  <template v-slot:title>
    <slot name="title">{{ title }}</slot>
  </template>
  <template v-slot:default>
    <az-menu-item
      v-for="item in options"
      :key="item[trackBy]"
      :icon="selectedIcon"
      :active="actualValue === item.value"
      role="menuitemcheckbox"
      @select="onSelect(item.value)"
    >
      {{ item.label }}
    </az-menu-item>
  </template>
</az-menu-group>
</template>

<script lang="ts" setup>
import { PropType, toRef } from 'vue';
import './menu-radio-group.scss'
import { MenuOption } from './typings';
import AzMenuGroup from './menu-group.vue';
import AzMenuItem from './menu-item.vue';
import { proxyValue } from '../../composables/base-input';

const emit = defineEmits(['update:modelValue']);

const props = defineProps({
  title: String,
  options: {
    type: Array as PropType<MenuOption[]>,
    required: true,
  },
  trackBy: {
    type: String,
    default: 'value',
  },
  selectedIcon: {
    type: String,
    default: 'mdi:check',
  },
  modelValue: {
    type: null as PropType<any>,
    default: null,
  },
  // TODO: Добавить функцию сравнения значений, т.к. modelValue может быть не примитивным типом, а объектом или массивом
})

const { actualValue } = proxyValue(toRef(props, 'modelValue'), emit)

function onSelect(value: any) {
  actualValue.value = value
}
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-menu-radio-group',
});
</script>
