<template>
  <div :class="classes">
    <label>
      <input
        :type="isRadio ? 'radio' : 'checkbox'"
        :name="computedName"
        class="az-switch__input"
        :value="value"
        :disabled="isDisabled"
        :checked="isChecked"
        @change="updateValue"
        @focus="onFocus"
        @blur="onBlur"
        ref="input"
      />
      <span class="az-switch__indicator"></span>
      <span class="az-switch__label" v-if="hasLabel">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script lang="ts" setup>
import { computed, getCurrentInstance, onUpdated, PropType, ref, toRef } from 'vue';
import './styles.scss'
import {  TPrimitiveNull } from '../radio/typings';

import {
  getComputedIsBlock, getComputedIsDisabled,
  getComputedName,
  getRadioInputValue,
  injectCheckboxGroup,
  injectRadioGroup, useFocusBlurHook, useModelValueWatcher,
} from '../../composables/toggle-controls';

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  value: {
    type: [Boolean, String, Number] as PropType<TPrimitiveNull>,
    default: null,
  },
  modelValue: {
    type: [Boolean, String, Number] as PropType<TPrimitiveNull>,
    default: null,
  },
  falseValue: {
    type: [Boolean, String, Number] as PropType<TPrimitiveNull>,
    default: false,
  },
  intent: {
    type: String as PropType<'default' | 'success' | 'error'>,
    default: 'default',
  },
  name: String,
  block: Boolean,
  radio: Boolean,
  disabled: Boolean,
})
const instance = ref(getCurrentInstance());
const hasLabel = ref(!!instance.value?.slots.default)
const { isFocused, onFocus, onBlur } = useFocusBlurHook()

const radioGroup = injectRadioGroup()
const checkboxGroup = injectCheckboxGroup()

const computedName = getComputedName(toRef(props, 'name'), radioGroup, checkboxGroup)

const internalValue = ref<TPrimitiveNull>(props.modelValue)
const actualInputValue = getRadioInputValue(internalValue, radioGroup)
useModelValueWatcher(toRef(props, 'modelValue'), internalValue)


const isRadio = computed<boolean>(() => !!(props.radio || radioGroup))
const isBlock = getComputedIsBlock(toRef(props, 'block'), radioGroup, checkboxGroup)
const isDisabled = getComputedIsDisabled(toRef(props, 'disabled'), radioGroup, checkboxGroup)

const isChecked = computed<boolean>(() => {
  if (isRadio.value) {
    return actualInputValue.value === props.value
  } else if (checkboxGroup) {
    return checkboxGroup.actualValue.value.includes(props.value !== null ? props.value : true)
  } else {
    return props.value !== null
      ? actualInputValue.value === props.value
      : actualInputValue.value === true
  }
})

const input = ref(null)
const classes = computed<Record<string, boolean>>(() => ({
  'az-switch': true,
  'az-switch--block': isBlock.value,
  'az-switch--is-checked': isChecked.value,
  'az-switch--is-focused': isFocused.value,
  'az-switch--is-disabled': isDisabled.value,
  ['az-switch--' + props.intent]: props.intent !== 'default',
}))

function updateValue() {
  if (isRadio.value) {
    if (radioGroup) {
      !isChecked.value && radioGroup.updateActualValue(props.value !== null ? props.value : true)
    } else {
      internalValue.value = props.value
      emit('update:modelValue', internalValue.value)
    }
  } else if (checkboxGroup) {
    if (isChecked.value) {
      checkboxGroup.uncheckItem(props.value !== null ? props.value : true)
    } else {
      checkboxGroup.checkItem(props.value !== null ? props.value : true)
    }
  } else {
    internalValue.value = isChecked.value
      ? props.falseValue
      : props.value !== null ? props.value : true
    emit('update:modelValue', internalValue.value)
  }
}

onUpdated(() => {
  hasLabel.value = !!instance.value?.slots.default
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-switch',
});
</script>
