@import "../../sass/colors";

@mixin applyIntent($el, $checkedBg, $hoverBg, $activeBg, $focusShadowColor, $disabledBg) {
  &#{$el}--is-checked {
    #{$el}__indicator {
      background: $checkedBg;
      border-color: $checkedBg;
    }
    &:not(#{$el}--is-disabled)>label {
      &:hover #{$el}__indicator {
        background: $hoverBg;
      }
      &:active #{$el}__indicator {
        background: $activeBg;
      }
    }
    &#{$el}--is-disabled #{$el}__indicator,
    &#{$el}--is-disabled>label:active #{$el}__indicator,
    &#{$el}--is-disabled>label:hover #{$el}__indicator {
      border-color: $disabledBg;
      background: $disabledBg;
    }
  }
  &#{$el}--is-focused #{$el}__indicator {
    box-shadow: 0 0 0 2px $focusShadowColor;
  }
}

.az-switch {
  $el: &;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  &--block {
    display: block;
  }
  &>label {
    vertical-align: top;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    input[type=checkbox], input[type=radio] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
    }
  }
  &__indicator {
    width: 28px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    flex: 0 0 auto;
    overflow: hidden;
    line-height: 1;
    font-size: 12px;
    transform: translate3d(0,0,0);
    background: $n400;
    color: #fff;
    &::before {
      content: '';
      flex: 0 0 auto;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fff;
      transform: translateX(2px);
      transition: transform .2s ease-in-out;
    }
  }
  &__indicator + &__label {
    padding-left: 8px;
  }

  &--is-checked &__indicator {
    &::before {
      transform: translateX(14px);
    }
  }
  &:not(#{$el}--is-checked):not(#{$el}--is-disabled)>label {
    &:hover #{$el}__indicator {
      background: $n500;
    }
    &:active #{$el}__indicator {
      background: $n600;
    }
  }

  &--is-disabled:not(#{$el}--is-checked) #{$el}__indicator {
    background: $n100;
    &::before {
      background: $n400;
    }
  }
  &--is-disabled #{$el}__label {
    color: $n600;
    cursor: not-allowed;
  }

  @include applyIntent($el, $b400, $b500, $b600, $b200, $b200);

  &--error {
    @include applyIntent($el, $r400, $r500, $r600, $r100, $r200);
  }
  &--success {
    @include applyIntent($el, $g400, $g500, $g600, $g200, $g200);
  }

  &#{$el}--is-focused>label #{$el}__indicator,
  &#{$el}--is-focused>label:hover #{$el}__indicator {
    border-color: transparent;
  }

}
