<template>
  <az-positioner
    class="az-popup"
    :position="position"
    v-model="actualValue"
    :outside="outside"
    :target="target"
    ref="positioner"
    :click-outside-props="clickOutsideProps"
    :close-by-click-outside="closeByClickOutside"
    :set-min-width="setMinWidth"
    :set-width="setWidth"
  >
    <slot></slot>
  </az-positioner>
</template>

<script setup lang="ts">
import { computed, onBeforeUnmount, onMounted, PropType, Ref, ref, toRef, watch } from 'vue';
import AzPositioner from '../positioner/index.vue'
import { Position, PositionerExpose, positions } from '../positioner/Positioner.types';
import { proxyValue } from '../../composables/base-input';
import './styles.scss'
import { ClickOutsideHandler, ClickOutsideProps } from '../../directives/click-outside';

const emits = defineEmits(['update:modelValue'])
const props = defineProps({
  position: {
    type: String as PropType<typeof positions[number]>,
    default: Position.BottomLeft,
    validator(val: string) {
      return (positions as unknown as string[]).includes(val)
    },
  },
  target: {
    type: [String, Object] as PropType<string | Element>,
    default: null,
  },
  outside: Boolean,
  modelValue: Boolean,
  listenTarget: Boolean,
  setWidth: Boolean,
  setMinWidth: Boolean,
  closeByClickOutside: {
    type: Boolean,
    default: true,
  },
  clickOutsideMiddleware: {
    type: Function as PropType<(event: MouseEvent, el: HTMLElement) => boolean>,
    default: () => true,
  }
})

const positioner = ref<PositionerExpose>()

const { internalValue, actualValue } = proxyValue(toRef(props, 'modelValue'), emits)
watch(toRef(props, 'modelValue'), (newVal: boolean) => internalValue.value = newVal)
watch(toRef(props, 'listenTarget'), (newVal: boolean) => {
  if (newVal) {
    addClickListener()
  } else {
    removeClickListener()
  }
})

function updatePosition() {
  positioner.value?.updatePosition()
}

function onTargetClick() {
  actualValue.value = !actualValue.value
}

function addClickListener() {
  const targetEl = (props.target instanceof Element ? props.target : document.querySelector(props.target))
  targetEl && targetEl.addEventListener('click', onTargetClick)
}
function removeClickListener() {
  const targetEl = (props.target instanceof Element ? props.target : document.querySelector(props.target))
  targetEl && targetEl.removeEventListener('click', onTargetClick)
}

onMounted(() => {
  props.listenTarget && addClickListener()
})

onBeforeUnmount(() => {
  props.listenTarget && removeClickListener()
})

const el = computed<Ref<HTMLElement | undefined> | undefined>(() => positioner.value?.el);

const clickOutsideProps: ClickOutsideProps = {
  middleware(event: MouseEvent, el: HTMLElement) {
    const targetEl = (props.target instanceof Element ? props.target : document.querySelector(props.target))
    const cb = (props.clickOutsideMiddleware && typeof props.clickOutsideMiddleware === 'function') ? props.clickOutsideMiddleware(event, el) : true
    return !(event.target === targetEl || targetEl?.contains(event.target as HTMLElement)) && cb;
  },
  handler (event: MouseEvent) {
    actualValue.value = false
  }
}

defineExpose({
  updatePosition,
  el,
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'az-popup',
})
</script>
