@import "../../sass/colors";

.az-popup {
  background: $n0;
  box-shadow: 0 4px 8px rgba(16, 24, 64, 0.16);
  border-radius: 4px;
  transform: translate3d(0,0,0);
}

.popup-transition-enter-active, .popup-transition-leave-active {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transition-duration: 300ms;
  transition-property: opacity, -webkit-transform, transform;
}

.popup-transition-enter-from,
.popup-transition-leave-to {
  opacity: 0;
  transform: scale(0.9) translateY(-1px);
}
