<template>
  <svg class="az-spinner" x="0px" y="0px" viewBox="0 0 150 150">
    <circle class="az-spinner__inner" cx="75" cy="75" r="60"></circle>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import './styles.scss';

export default defineComponent({
  name: 'AzSpinner',
});

</script>
