.az-spinner {
  animation: 2s linear 0s infinite normal none running spinner-rotate;
  color: currentColor;
  &__inner {
    stroke-dashoffset: 600;
    stroke-dasharray: 300;
    stroke-width: 12;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: spinner-inner 1.6s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;
    stroke: currentColor;
    fill: transparent;
  }
}

@keyframes spinner-rotate {
  0% {
    transform:rotate(0);
  }
  100%{
    transform:rotate(360deg);
  }
}

@keyframes spinner-inner {
  0% {
     stroke-dashoffset:600;
  }
  100%{
     stroke-dashoffset:0;
  }
}
