<template>
  <div
    v-bind="$attrs"
    :class="classes"
    ref="el"
    >
    <div v-if="hasLabel || hasDescription" class="az-select__label-wrapper">
      <label v-if="hasLabel" :for="id" class="az-select__label">
        <slot name="label">{{ label }}</slot>
      </label>
      <div v-if="hasDescription" class="az-select__description">
        <slot name="description">{{ description }}</slot>
      </div>
    </div>
    <div class="az-select__body">
      <div
        ref="container"
        class="az-select__container"
        :id="id"
        tabindex="0"
        @focus="onFocus"
        @blur="onBlur"
        @mousedown="onClick"
      >
        <div v-if="hasIcon" class="az-select__icon">
          <slot name="icon">
            <az-icon v-if="icon" :icon="icon" />
          </slot>
        </div>
        <div class="az-select__inner">
          <template
            v-if="!selectedItem"
          >
            <slot name="placeholder">
              <span class="az-select__placeholder">{{ placeholder }}</span>
            </slot>
          </template>
          <template v-else>
            <slot name="selection" :selectedItem="selectedItem">
              {{ selectedItem ? selectedItem[props.labelKey] : '' }}
            </slot>
          </template>
        </div>
        <button
          class="az-select__btn"
          type="button"
          v-if="props.clearable && !props.disabled"
          v-show="actualValue !== null"
          @mousedown.prevent
          @click.prevent="onBtnClick"
        >
          <az-icon icon="mdi:close-circle"></az-icon>
        </button>
        <div
          class="az-select__arrow"
        >
          <az-icon v-show="!loading" icon="mdi:menu-down"></az-icon>
          <az-spinner v-show="loading" />
        </div>
      </div>
      <div
        v-if="error && errorText"
        class="az-select__messages">{{ errorText }}</div>
    </div>
  </div>
  <az-popup
    :target="container"
    v-model="isPopupActive"
    :click-outside-middleware="clickOutsideMiddleware"
    set-min-width
    ref="popup"
    :tabindex="(disabled) ? undefined : '-1'"
    @focus.native="onPopupFocus"
    @blur.native="onPopupBlur"
    @keydown="onPopupKeyDown"
  >
    <div class="az-select__scroll-view">
      <az-menu class="az-select__menu" ref="menu">
        <template v-for="option in options">
          <slot
            name="item"
            :item="option"
            :is-active="actualValue === option[valueKey]"
            :select="() => onItemSelect(option)"
          >
            <az-menu-item
              :key="option[valueKey]"
              :active="actualValue === option[valueKey]"
              @select="onItemSelect(option)"
            >
              {{ option[labelKey] }}
            </az-menu-item>
          </slot>
        </template>
      </az-menu>
    </div>
  </az-popup>
</template>

<script lang="ts" setup>
import { inputProps, inputWithErrorState, proxyValue, withDescription, withLabel } from '../../composables/base-input';
import AzIcon from '../icon/index.vue';
import { computed, getCurrentInstance, nextTick, Prop, PropType, ref, toRef, watch } from 'vue';
import * as uuid from 'uuid';
import './styles.scss';
import AzPopup from '../popup/index.vue';
import { PopupExpose } from '../popup/typings';
import { ExposedToObject } from '../../utils/vue-type-helpers';
import { dropdownOptionsProp, useFocusBlurActivator } from '../../composables/dropdowns';
import AzMenu from '../menu/menu.vue';
import AzMenuItem from '../menu/menu-item.vue';
import { TPrimitiveNull } from '../radio/typings';
import AzSpinner from '../spinner/index.vue';

const emit = defineEmits(['focus', 'blur', 'update:modelValue'])
const props = defineProps({
  ...inputProps.base,
  ...inputProps.withPlaceholder,
  ...inputProps.withLabel,
  ...inputProps.withDescription,
  ...inputProps.withErrorState,
  ...inputProps.clearable,
  horizontal: Boolean,
  loading: Boolean,
  icon: String,
  ...dropdownOptionsProp,
  modelValue: {
    type: [String, Number, Boolean] as PropType<TPrimitiveNull>,
    default: null,
  },
})

const el = ref<HTMLElement>();
const container = ref<HTMLElement>();
const popup = ref<ExposedToObject<PopupExpose>>();
const popupEl = computed(() => popup.value?.el || undefined)

const isDisabledOrLoading = computed<boolean>(() => props.disabled || props.loading)

const {
  onClick,
  isFocused,
  isPopupActive,
  onFocus,
  onBlur,
  onPopupFocus,
  onPopupBlur,
} = useFocusBlurActivator(container, popupEl, isDisabledOrLoading, emit)

const id: string = uuid.v4();
const { hasLabel } = withLabel(toRef(props, 'label'))
const { hasDescription } = withDescription(toRef(props, 'description'))
const hasIcon = computed(() => {
  const slot = getCurrentInstance()?.slots.icon
  return !!props.icon || !!slot;
})

const { actualValue, internalValue } = proxyValue(toRef(props, 'modelValue'), emit);
watch(toRef(props, 'modelValue'), (val) => internalValue.value = val)

const selectedItem = computed(() => {
  if (actualValue.value === null) return null;
  return props.options?.find((item) => item[props.valueKey] === actualValue.value);
})

const { isError, errorText } = inputWithErrorState(toRef(props, 'error'))

const classes = computed(() => ({
  'az-select': true,
  'az-select--is-focused': isFocused.value,
  'az-select--is-error': isError.value,
  'az-select--is-loading': props.loading,
  'az-select--is-disabled': props.disabled,
  'az-select--horizontal': props.horizontal,
  'az-select--with-icon': hasIcon.value,
  'az-select--with-btn': props.clearable,
}))

function clickOutsideMiddleware(event: MouseEvent, popupEl: HTMLElement) {
  if (!isPopupActive.value) return false;
  if (container.value === event.target || container.value?.contains(event.target as HTMLElement)) return false;
  return true
}

function onPopupKeyDown(evt: KeyboardEvent) {
  if (evt.key === 'Tab') {
    evt.preventDefault();
    isPopupActive.value = false;
  }
}

function onItemSelect(option: Record<string, any>) {
  actualValue.value = option[props.valueKey]
  isPopupActive.value = false
  container.value?.focus();
}

function onBtnClick() {
  actualValue.value = null
}

</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-select',
});
</script>
