@import "../../sass/colors";

.az-select {
  $el: &;
  display: block;
  text-align: left;
  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $n800;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    color: $n700;
  }
  &__label + &__description {
    padding-top: 4px;
  }
  &__label-wrapper {
    margin-bottom: 8px;
  }
  &__inner {
    border: none;
    height: 30px;
    flex: 1 1 auto;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 12px;
    background: none;
    color: $n800;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__placeholder {
    color: $n600;
  }
  &__container {
    border: 1px solid $n400;
    border-radius: 4px;
    background: $white;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $n600;
    font-size: 18px;
    pointer-events: none;
  }
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    right: 26px;
    width: 30px;
    height: 30px;
    color: $n700;
  }
  &__arrow {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    padding: 0;
    position: absolute;
    right: 6px;
    width: 20px;
    height: 20px;
    background: $n100;
    border-radius: 4px;
    color: $n600;
  }
  &--is-loading &__arrow {
    background: none;
  }
  &--with-icon &__inner {
    padding-left: 30px;
  }
  &--with-btn &__inner {
    padding-right: 30px;
  }
  &__scroll-view {
    max-height: 300px;
    overflow-y: auto;
  }

  &:not(&--is-disabled):not(&--is-loading) &__container:hover {
    border-color: $n600;
    #{$el}__placeholder {
      color: $n700;
    }
  }
  &--is-focused &__inner::placeholder {
    color: $n700;
  }
  &--is-focused &__container {
    border-color: $b300;
    box-shadow: 0 0 0 2px $b200;
  }
  &__messages {
    padding-top: 4px;
    font-size: 12px;
  }

  &--is-error &__container {
    border-color: $r400;
  }
  &--is-error &__messages {
    color: $r400;
  }
  &--is-error#{$el}--is-focused &__container{
    box-shadow: 0 0 0 2px $r100;
  }

  &--is-disabled &__container,
  &--is-loading &__container {
    background: $n100;
    border-color: $n300;
  }

  &--is-disabled &__container {
    cursor: not-allowed;
  }
  &--is-loading &__container {
    cursor: wait;
  }
  &--is-disabled &__inner,
  &--is-loading &__inner {
    color: $n600;
  }
  &--is-disabled &__messages,
  &--is-loading &__messages {
    color: $r200;
  }

  &--horizontal {
    display: inline-flex;
    align-items: flex-start;
  }
  &--horizontal &__label-wrapper {
    flex: 0 0 auto;
    padding-right: 16px;
    align-self: center;
    margin-bottom: 0;
  }
  &--horizontal &__label+&__description {
    padding-top: 0;
  }
  &--horizontal &__body {
    flex: 1 1 auto;
  }
}
