<template>
  <Icon class="az-icon" :icon="icon" />
</template>

<script lang="ts" setup>
import { Icon } from '@iconify/vue';
const props = defineProps({
  icon: String,
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'AzIcon',
})
</script>
