<template>
  <teleport to="body">
    <transition
      :name="isAnimationDisabled ? 'none' : transition"
      @enter="handleEnter"
      @leave="handleExited"
      @after-enter="onAfterEnterTransition"
      @after-leave="onAfterLeaveTransition"
    >
      <div class="az-positioner" v-bind="$attrs" :style="style" v-show="actualValue" ref="content" v-click-outside="closeByClickOutside ? clickOutsideProps : null">
        {{ transitionState }}
        <slot></slot>
      </div>
    </transition>
  </teleport>
</template>

<script lang="ts" setup>
import { computed, onMounted, PropType, ref, toRef, watch } from 'vue';
import './styles.scss';
import { Position, PositionerExpose, positions, Rect } from './Positioner.types';
import { proxyValue } from '../../composables/base-input';
import vClickOutside, { ClickOutsideHandler, ClickOutsideProps } from '../../directives/click-outside';
import usePrevious from '../../utils/usePrevious';
import { TransitionState, useTransitionState } from '../../utils/useTransitionState';
import getFittedPosition from './utils';

const emits = defineEmits(['update:modelValue'])

const props = defineProps({
  position: {
    type: String as PropType<typeof positions[number]>,
    default: Position.BottomLeft,
    validator(val: string) {
      return (positions as unknown as string[]).includes(val)
    },
  },
  target: {
    type: [String, Object] as PropType<string | Element>,
    default: null,
  },
  modelValue: {
    type: Boolean,
    default: true,
  },
  transition: {
    type: String,
    default: 'popup-transition'
  },
  clickOutsideProps: {
    type: [Object, Function] as PropType<ClickOutsideProps | ClickOutsideHandler>,
    default: () => () => {},
  },
  closeByClickOutside: {
    type: Boolean,
    default: true,
  },
  setWidth: Boolean,
  setMinWidth: Boolean,
})

let isAnimationDisabled = ref(false);
const content = ref<HTMLElement>();

const { internalValue, actualValue } = proxyValue(toRef(props, 'modelValue'), emits)
watch(toRef(props, 'modelValue'), async (newVal: boolean) => {
  if (newVal) {
    await updatePosition()
  }
  internalValue.value = newVal;
})

let targetRect = ref<Rect>({
  height: 0,
  width: 0,
  left: 0,
  right: 0,
  top: 0,
  bottom: 0,
});

const { transitionState, onAfterEnterTransition, onAfterLeaveTransition, onBeforeEnterTransition, onBeforeLeaveTransition } = useTransitionState();

const initialRect: Rect = {
  height: 0,
  width: 0,
  left: 0,
  right: 0,
  top: 0,
  bottom: 0,
}
let slotRect = ref<Rect>({
  height: 0,
  width: 0,
  left: 0,
  right: 0,
  top: 0,
  bottom: 0,
});
const prevSlotRect = usePrevious(slotRect, slotRect.value);

const transformOrigin = ref('0 0')

const style = computed(() => ({
  position: 'absolute',
  top: slotRect.value.top + 'px',
  left: slotRect.value.left + 'px',
  transformOrigin: transformOrigin.value,
  width: props.setWidth ? targetRect.value.width + 'px' : undefined,
  minWidth: props.setMinWidth ? targetRect.value.width + 'px' : undefined,
}))

function getElement() {
  if (props.target && !(props.target instanceof Element)) {
    return document.querySelector(props.target)
  }
  return props.target;
}


function update(prevHeight = 0, prevWidth = 0) {
  if (!actualValue.value || !content.value || !props.target) return;

  const target = getElement() as HTMLElement;
  const targetRect = target.getBoundingClientRect()
  const viewportHeight = document.documentElement.clientHeight
  const viewportWidth = document.documentElement.clientWidth

  let height
  let width
  if (transitionState.value === TransitionState.ENTERED) {
    const contentRect = (content.value as HTMLElement).getBoundingClientRect()
    height = Math.round(contentRect.height)
    width = Math.round(contentRect.width)
  } else {
    height = Math.max((content.value as HTMLElement).offsetHeight, prevHeight)
    width = Math.max((content.value as HTMLElement).offsetWidth, prevWidth)
  }

  const { rect, transformOrigin: finalTransformOrigin } = getFittedPosition(
    props.position as Position,
    { width, height },
    targetRect,
    0,
    { width: viewportWidth, height: viewportHeight },
    0
  )

  slotRect.value = rect
  transformOrigin.value = finalTransformOrigin
}

function updatePosition() {}

const latestAnimationFrame = ref(0)
watch(prevSlotRect, () => {
  if (transitionState.value === TransitionState.ENTERED) {
    latestAnimationFrame.value = requestAnimationFrame(() => {
      update(prevSlotRect.value.height, prevSlotRect.value.width)
    })
  }

  if (latestAnimationFrame.value) {
    cancelAnimationFrame(latestAnimationFrame.value)
  }
})

const handleEnter = () => {
  onBeforeEnterTransition()
  update()
}

const handleExited = () => {
  onBeforeLeaveTransition()
  // slotRect.value = initialRect
}


onMounted(() => {
  updatePosition();
  update()
})

defineExpose<PositionerExpose>({
  updatePosition,
  el: content,
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-positioner',
  inheritAttrs: false
})
</script>
