<template>
<div class="demo-page">
  <h1>Buttons</h1>
  <h2>Appearances</h2>
  <div class="demo">
    <az-btn appearance="default">Default</az-btn>
    <az-btn appearance="primary">Primary</az-btn>
    <az-btn appearance="minimal">Minimal</az-btn>
  </div>
  <h2>Intents</h2>
  <div class="demo">
    <az-btn intent="none">None</az-btn>
    <az-btn intent="success">Success</az-btn>
    <az-btn intent="error">Error</az-btn>
  </div>
  <h2>Appearance + intent</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn intent="none" appearance="default">Default + None</az-btn>
      <az-btn intent="success" appearance="default">Default + Success</az-btn>
      <az-btn intent="error" appearance="default">Default + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="primary">Primary + None</az-btn>
      <az-btn intent="success" appearance="primary">Primary + Success</az-btn>
      <az-btn intent="error" appearance="primary">Primary + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="minimal">Minimal + None</az-btn>
      <az-btn intent="success" appearance="minimal">Minimal + Success</az-btn>
      <az-btn intent="error" appearance="minimal">Minimal + Error</az-btn>
    </div>
  </div>
  <h2>Disabled state</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn intent="none" appearance="default" is-disabled>Default + None</az-btn>
      <az-btn intent="success" appearance="default" is-disabled>Default + Success</az-btn>
      <az-btn intent="error" appearance="default" is-disabled>Default + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="primary" is-disabled>Primary + None</az-btn>
      <az-btn intent="success" appearance="primary" is-disabled>Primary + Success</az-btn>
      <az-btn intent="error" appearance="primary" is-disabled>Primary + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="minimal" is-disabled>Minimal + None</az-btn>
      <az-btn intent="success" appearance="minimal" is-disabled>Minimal + Success</az-btn>
      <az-btn intent="error" appearance="minimal" is-disabled>Minimal + Error</az-btn>
    </div>
  </div>
  <h2>Loading state</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn intent="none" appearance="default" is-loading>Default + None</az-btn>
      <az-btn intent="success" appearance="default" is-loading>Default + Success</az-btn>
      <az-btn intent="error" appearance="default" is-loading>Default + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="primary" is-loading>Primary + None</az-btn>
      <az-btn intent="success" appearance="primary" is-loading>Primary + Success</az-btn>
      <az-btn intent="error" appearance="primary" is-loading>Primary + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="minimal" is-loading>Minimal + None</az-btn>
      <az-btn intent="success" appearance="minimal" is-loading>Minimal + Success</az-btn>
      <az-btn intent="error" appearance="minimal" is-loading>Minimal + Error</az-btn>
    </div>
  </div>
  <h2>With icons</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn icon-before="mdi:settings">Icon before</az-btn>
      <az-btn icon-after="mdi:settings">Icon after</az-btn>
    </div>
  </div>
  <h2>Icon + appearance + intent</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn intent="none" appearance="default" icon-before="mdi:settings">Default + None</az-btn>
      <az-btn intent="success" appearance="default" icon-before="mdi:settings">Default + Success</az-btn>
      <az-btn intent="error" appearance="default" icon-before="mdi:settings">Default + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="primary" icon-before="mdi:settings">Primary + None</az-btn>
      <az-btn intent="success" appearance="primary" icon-before="mdi:settings">Primary + Success</az-btn>
      <az-btn intent="error" appearance="primary" icon-before="mdi:settings">Primary + Error</az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="minimal" icon-before="mdi:settings">Minimal + None</az-btn>
      <az-btn intent="success" appearance="minimal" icon-before="mdi:settings">Minimal + Success</az-btn>
      <az-btn intent="error" appearance="minimal" icon-before="mdi:settings">Minimal + Error</az-btn>
    </div>
  </div>
  <h2>Icon button</h2>
  <div class="demo">
    <div class="mb-8">
      <az-btn intent="none" appearance="default" icon="mdi:settings"></az-btn>
      <az-btn intent="success" appearance="default" icon="mdi:settings"></az-btn>
      <az-btn intent="error" appearance="default" icon="mdi:settings"></az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="primary" icon="mdi:settings"></az-btn>
      <az-btn intent="success" appearance="primary" icon="mdi:settings"></az-btn>
      <az-btn intent="error" appearance="primary" icon="mdi:settings"></az-btn>
    </div>
    <div class="mb-8">
      <az-btn intent="none" appearance="minimal" icon="mdi:settings"></az-btn>
      <az-btn intent="success" appearance="minimal" icon="mdi:settings"></az-btn>
      <az-btn intent="error" appearance="minimal" icon="mdi:settings"></az-btn>
    </div>
  </div>
</div>
</template>

<script lang="ts" setup>
import AzBtn from '../components/btn/index.vue'
</script>

<style scoped lang="scss">
.demo {
  .az-btn + .az-btn {
    margin-left: 16px;
  }
}
</style>
