<template>
<div class="demo-page">
  <h1>Checkbox</h1>
  <h3>Default</h3>
  <div class="demo"><az-checkbox>Checkbox</az-checkbox></div>
  <h3>Indeterminate</h3>
  <div class="demo"><az-checkbox indeterminate>Checkbox</az-checkbox></div>
  <h3>Intent</h3>
  <div class="demo d-flex">
    <div class="d-col">
      <az-checkbox intent="default" class="mb-8" block>Default</az-checkbox>
      <az-checkbox intent="default" class="mb-8" block model-value>Default</az-checkbox>
      <az-checkbox intent="default" class="mb-8" block indeterminate>Default</az-checkbox>
    </div>
    <div class="d-col">
      <az-checkbox intent="success" class="mb-8" block>Success</az-checkbox>
      <az-checkbox intent="success" class="mb-8" block model-value>Success</az-checkbox>
      <az-checkbox intent="success" class="mb-8" block indeterminate>Success</az-checkbox>
    </div>
    <div class="d-col">
      <az-checkbox intent="error" class="mb-8" block>Error</az-checkbox>
      <az-checkbox intent="error" class="mb-8" block model-value>Error</az-checkbox>
      <az-checkbox intent="error" class="mb-8" block indeterminate>Error</az-checkbox>
    </div>
  </div>
  <h3>Disabled</h3>
  <div class="demo d-flex">
    <div class="d-col">
      <az-checkbox intent="default" class="mb-8" block disabled>Default</az-checkbox>
      <az-checkbox intent="default" class="mb-8" block disabled model-value>Default</az-checkbox>
      <az-checkbox intent="default" class="mb-8" block disabled indeterminate>Default</az-checkbox>
    </div>
    <div class="d-col">
      <az-checkbox intent="success" class="mb-8" block disabled>Success</az-checkbox>
      <az-checkbox intent="success" class="mb-8" block disabled model-value>Success</az-checkbox>
      <az-checkbox intent="success" class="mb-8" block disabled indeterminate>Success</az-checkbox>
    </div>
    <div class="d-col">
      <az-checkbox intent="error" class="mb-8" block disabled>Error</az-checkbox>
      <az-checkbox intent="error" class="mb-8" block disabled model-value>Error</az-checkbox>
      <az-checkbox intent="error" class="mb-8" block disabled indeterminate>Error</az-checkbox>
    </div>
  </div>
  <h3>Use value</h3>
  <div class="demo">
    <az-checkbox v-model="demo1" :value="42" class="mb-8">Checkbox</az-checkbox>
    <div>
      Model value: {{ demo1 }}
    </div>
  </div>
  <h3>Use value and false-value</h3>
  <div class="demo">
    <az-checkbox v-model="demo2" value="on" false-value="off" class="mb-8">Checkbox</az-checkbox>
    <div>
      Model value: {{ demo2 }}
    </div>
  </div>
  <h3>Checkbox group</h3>
  <div class="demo d-flex">
    <div class="d-col">
      <az-checkbox-group v-model="groupModel">
        <az-checkbox value="1" class="mb-8" block>Default</az-checkbox>
        <az-checkbox value="2" class="mb-8" block>Default</az-checkbox>
        <az-checkbox value="3" class="mb-8" block>Default</az-checkbox>
      </az-checkbox-group>
    </div>
    <div class="d-col">
      <pre style="margin: 0; font-size: 12px">Checked: {{ groupModel }}</pre>
    </div>
  </div>
</div>
</template>

<script lang="ts" setup>
import AzCheckbox from '../components/checkbox/index.vue';
import AzCheckboxGroup from '../components/checkbox/checkbox-group.vue';
import { ref } from 'vue';
import { TPrimitiveNull } from '../components/radio/typings';

const groupModel = ref<TPrimitiveNull[]>([]);
const demo1 = ref<TPrimitiveNull>(false);
const demo2 = ref<TPrimitiveNull>('off');
</script>

<style lang="scss" scoped>
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}
.d-flex {
  display: flex;
}
.d-col {
  flex: 1 1 0;
}
</style>
