<template>
<div class="demo-page">
  <h1>Icons</h1>
  <div class="demo fs-22">
    <az-icon icon="mdi:cog" class="n700" />
    <az-icon icon="mdi:help" class="b300" />
    <az-icon icon="mdi:cat" class="y400" />
  </div>
  <div class="demo">
    <az-icon icon="mdi:vuejs" style="font-size: 46px; color: #41b883" />
  </div>
</div>
</template>

<script lang="ts" setup>
import AzIcon from '../components/icon/index.vue';
</script>

<style lang="scss" scoped>
@import "../sass/colors";
.fs-22 {
  font-size: 22px;
}
.demo {
  display: flex;
  margin-bottom: 16px;
}
.demo .az-icon + .az-icon {
  margin-left: 10px;
}
.n700 {
  color: $n700;
}
.b300 {
  color: $b300;
}
.y400 {
  color: $y400;
}
.az-icon {
  display: inline-flex;
}
</style>
