<template>
<div class="demo-page">
  <h1>Menu</h1>
  <h3>Default</h3>
  <div class="demo fs-22">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-item>Menu item 2</az-menu-item>
        <az-menu-item>Menu item</az-menu-item>
        <az-menu-item v-if="showItem" @select="onClick">Menu item</az-menu-item>
      </az-menu>
    </az-panel>
  </div>
  <h3>With icon</h3>
  <div class="demo">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-item icon="mdi:flower">Menu item</az-menu-item>
        <az-menu-item>
          <template v-slot:icon>
            <az-icon icon="mdi:palette" />
          </template>
          Menu item
        </az-menu-item>
      </az-menu>
    </az-panel>
  </div>
  <h3>With icon and hotkey</h3>
  <div class="demo">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-item icon="mdi:format-bold" hotkey="Ctrl + B">Bold</az-menu-item>
        <az-menu-item icon="mdi:format-italic" disabled>
          <template v-slot:hotkey>
            &#8984;I
          </template>
          Italic
        </az-menu-item>
      </az-menu>
    </az-panel>
  </div>
  <h3>With groups</h3>
  <div class="demo">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-group>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item disabled>Menu item</az-menu-item>
        </az-menu-group>
        <az-menu-divider />
        <az-menu-group>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
        </az-menu-group>
      </az-menu>
    </az-panel>
  </div>
  <h3>Groups with titles</h3>
  <div class="demo">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-group title="Group 1">
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
        </az-menu-group>
        <az-menu-divider />
        <az-menu-group>
          <template v-slot:title>Group 2</template>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
          <az-menu-item>Menu item</az-menu-item>
        </az-menu-group>
      </az-menu>
    </az-panel>
  </div>
  <h3>Menu radio group</h3>
  <div class="demo">
    <az-panel elevation="2" style="width: 300px;">
      <az-menu>
        <az-menu-radio-group
          :options="items"
          v-model="group1"
        >
          <template v-slot:title>Group 1: {{ group1 }}</template>
        </az-menu-radio-group>
        <az-menu-divider />
        <az-menu-radio-group
          :options="items"
          v-model="group2"
        >
          <template v-slot:title>Group 2: {{ group2 }}</template>
        </az-menu-radio-group>
      </az-menu>
    </az-panel>
  </div>
</div>
</template>

<script lang="ts" setup>
import AzIcon from '../components/icon/index.vue';
import AzMenuItem from '../components/menu/menu-item.vue';
import AzPanel from '../components/panel/index.vue';
import AzMenu from '../components/menu/menu.vue';
import { ref } from 'vue';
import AzMenuGroup from '../components/menu/menu-group.vue';
import AzMenuDivider from '../components/menu/menu-divider.vue';
import { MenuOption } from '../components/menu/typings';
import AzMenuRadioGroup from '../components/menu/menu-radio-group.vue';
const showItem = ref(true)
function onClick() {
  showItem.value = false
}

const group1 = ref(1);
const group2 = ref(1);
const items: MenuOption[] = ref([
  { value: 1, label: 'Menu item 1' },
  { value: 2, label: 'Menu item 2' },
  { value: 3, label: 'Menu item 3' },
])
</script>

<style lang="scss" scoped>
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}
</style>
