<template>
<div class="demo-page">
  <h1>Popup</h1>
  <div class="demo">
    <az-btn data-popup-top-left>Top-left</az-btn>
    <az-btn data-popup-top>Top</az-btn>
    <az-btn data-popup-top-right>Top-right</az-btn>
    <az-btn data-popup-bottom-left>Bottom-left</az-btn>
    <az-btn data-popup-bottom>Bottom</az-btn>
    <az-btn data-popup-bottom-right>Bottom-right</az-btn>
    <az-btn data-popup-left>Left</az-btn>
    <az-btn data-popup-center>Center</az-btn>
    <az-btn data-popup-right>Right</az-btn>
    <az-popup target="[data-popup-top-left]" position="top-left" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-top]" position="top" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-top-right]" position="top-right" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-bottom-left]" position="bottom-left" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-bottom]" position="bottom" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-bottom-right]" position="bottom-right" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-left]" position="left" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-right]" position="right" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
    <az-popup target="[data-popup-center]" position="center" listen-target>
      <div class="popup-content">Content</div>
    </az-popup>
  </div>
</div>
</template>

<script lang="ts" setup>

import AzBtn from '../components/btn/index.vue';
import AzPopup from '../components/popup/index.vue';
</script>

<style scoped lang="scss">
@import "../sass/colors";
.demo {
  margin-top: 140px;
}
.demo .az-btn + .az-btn {
  margin-left: 16px;
}
.popup-content {
  padding: 60px;
}
</style>
