<template>
<div class="demo-page">
  <h1>Positioner</h1>
  <div class="demo">
    <div class="square" id="square"></div>
    <az-positioner target="#square" position="top-left">top-left</az-positioner>
    <az-positioner target="#square" position="top">top</az-positioner>
    <az-positioner target="#square" position="top-right">top-right</az-positioner>
    <az-positioner target="#square" position="bottom-left">bottom-left</az-positioner>
    <az-positioner target="#square" position="bottom">bottom</az-positioner>
    <az-positioner target="#square" position="bottom-right">bottom-right</az-positioner>
    <az-positioner target="#square" position="left">left</az-positioner>
    <az-positioner target="#square" position="right">right</az-positioner>
    <az-positioner target="#square" position="center">center</az-positioner>
  </div>
</div>
</template>

<script lang="ts" setup>

import AzPositioner from '../components/positioner/index.vue';
</script>

<style scoped lang="scss">
@import "../sass/colors";
.square {
  width: 300px;
  height: 300px;
  background: $b100;
  margin: 0 auto;
}
</style>
