<template>
<div class="demo-page">
  <h1>Radio</h1>
  <h3>Default</h3>
  <div class="demo">
    <az-radio value="1" name="radio-demo-1" v-model="demo1" block class="mb-8">Radio 1</az-radio>
    <az-radio value="2" name="radio-demo-1" v-model="demo1" block class="mb-8">Radio 2</az-radio>
    <az-radio value="3" name="radio-demo-1" v-model="demo1" block class="mb-8">Radio 3</az-radio>
  </div>
  <h3>Disabled</h3>
  <div class="demo">
    <az-radio value="1" name="radio-demo-2" block class="mb-8" disabled>Radio 1</az-radio>
    <az-radio value="2" name="radio-demo-3" model-value="2" block class="mb-8" disabled>Radio 2</az-radio>
  </div>
  <h3>Radio group</h3>
  <div class="demo">
    <az-radio-group
      name="radio-demo-4"
      v-model="demo4"
    >
      <az-radio value="1" block class="mb-8">Radio 1</az-radio>
      <az-radio value="2" block class="mb-8">Radio 2</az-radio>
    </az-radio-group>
  </div>
  <h3>Intent</h3>
  <div class="demo d-flex">
    <div class="d-col">
      <az-radio-group
        name="radio-demo-5"
        v-model="demoIntent"
      >
        <az-radio value="1" block class="mb-8" intent="default">Default</az-radio>
        <az-radio value="2" block class="mb-8" intent="success">Success</az-radio>
        <az-radio value="3" block class="mb-8" intent="error">Error</az-radio>
      </az-radio-group>
    </div>
    <div class="d-col">
      <az-radio-group
        name="radio-demo-5"
        v-model="demoIntent"
        disabled
      >
        <az-radio value="1" block class="mb-8" intent="default">Default</az-radio>
        <az-radio value="2" block class="mb-8" intent="success">Success</az-radio>
        <az-radio value="3" block class="mb-8" intent="error">Error</az-radio>
      </az-radio-group>
    </div>
  </div>
</div>
</template>

<script lang="ts" setup>
import AzRadio from '../components/radio/radio.vue';
import { ref } from 'vue';
import AzRadioGroup from '../components/radio/radio-group.vue';
const demo1 = ref('1');
const demo4 = ref('2');
const demoIntent = ref('1');
</script>

<style lang="scss" scoped>
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}
.d-flex {
  display: flex;
}
.d-col {
  flex: 1 1 0;
}
</style>
