<template>
<div class="demo-page">
  <h1>Select</h1>
  <h3>Default</h3>
  <div class="demo">
    <az-select
      :options="options"
      v-model="model1"
      class="mb-16"
    />
    Value: {{ JSON.stringify(model1) }}
  </div>
  <h3>Label, description and placeholder</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Label"
      description="description"
      placeholder="Placeholder"
      v-model="model2"
      class="mb-16"
    />
    Value: {{ JSON.stringify(model2) }}
  </div>
  <h3>Clearable</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Label"
      placeholder="Placeholder"
      clearable
      v-model="model3"
      class="mb-16"
    />
    Value: {{ JSON.stringify(model3) }}
  </div>
  <h3>Disabled input</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Without placeholder"
      class="mb-16"
      disabled
    />
    <az-select
      :options="options"
      label="With placeholder"
      placeholder="Placeholder"
      class="mb-16"
      disabled
    />
    <az-select
      :options="options"
      label="With value"
      model-value="orange"
      class="mb-16"
      disabled
    />
  </div>
  <h3>Error state</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Without message"
      placeholder="Placeholder"
      class="mb-16"
      error
    />
    <az-select
      :options="options"
      label="With message"
      class="mb-16"
      error="Error message"
    />
  </div>
  <h3>Loading state</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Label"
      placeholder="Placeholder"
      class="mb-16"
      loading
    />
  </div>
  <h3>List with scrollbar</h3>
  <div class="demo">
    <az-select
      :options="manyOptions"
      label="Label"
      placeholder="Placeholder"
      class="mb-16"
    />
  </div>
  <h3>Use item slot</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Label"
      placeholder="Placeholder"
      class="mb-16"
    >
      <template v-slot:item="slotProps">
        <az-menu-item :active="slotProps.isActive" @select="slotProps.select()">
          <span>{{ slotProps.item.label }}</span>
          <az-icon icon="mdi:dog"></az-icon>
        </az-menu-item>
      </template>
    </az-select>
  </div>
  <h3>Use selection slot</h3>
  <div class="demo">
    <az-select
      :options="options"
      label="Label"
      placeholder="Placeholder"
      class="mb-16"
    >
      <template v-slot:selection="{ selectedItem }">
        {{ selectedItem }}
      </template>
    </az-select>
  </div>
</div>
</template>

<script lang="ts" setup>
import AzSelect from '../components/select/index.vue';
import { ref } from 'vue';
import AzMenuItem from '../components/menu/menu-item.vue';
import AzIcon from '../components/icon/index.vue';
const options = [
  { label: 'Банан', value: 'banana' },
  { label: 'Яблоко', value: 'apple' },
  { label: 'Апельсин', value: 'orange' },
  { label: 'Груша', value: 'pear' },
]
const manyOptions = ref<{ label: string, value: number }[]>([])
for (let i = 1; i <= 20; i++) {
  manyOptions.value.push({ label: `Item ${i}`, value: i })
}
const model1 = ref(null);
const model2 = ref(null);
const model3 = ref(null);

</script>

<style lang="scss" scoped>
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}
</style>
