<template>
<div class="demo-page">
  <h1>Switch</h1>
  <h3>Default</h3>
  <div class="demo">
    <az-switch value="1" name="radio-demo-1" v-model="demo1" block class="mb-8">Switch 1</az-switch>
  </div>
  <h3>Disabled</h3>
  <div class="demo">
    <az-switch block class="mb-8" disabled>Off</az-switch>
    <az-switch model-value block class="mb-8" disabled>On</az-switch>
  </div>
  <h3>Intents</h3>
  <div class="demo d-flex">
    <div class="d-col">
      <az-switch block class="mb-8">Default</az-switch>
      <az-switch model-value block class="mb-8">Default</az-switch>
      <az-switch block class="mb-8" disabled>Default</az-switch>
      <az-switch model-value block class="mb-8" disabled>Default</az-switch>
    </div>
    <div class="d-col">
      <az-switch block class="mb-8" intent="success">Success</az-switch>
      <az-switch model-value block class="mb-8" intent="success">Success</az-switch>
      <az-switch block class="mb-8" disabled intent="success">Success</az-switch>
      <az-switch model-value block class="mb-8" disabled intent="success">Success</az-switch>
    </div>
    <div class="d-col">
      <az-switch block class="mb-8" intent="error">Error</az-switch>
      <az-switch model-value block class="mb-8" intent="error">Error</az-switch>
      <az-switch block class="mb-8" disabled intent="error">Error</az-switch>
      <az-switch model-value block class="mb-8" disabled intent="error">Error</az-switch>
    </div>
  </div>
  <h3>Use value</h3>
  <div class="demo">
    <az-switch value="1" v-model="swModel1" block class="mb-8">Option 1</az-switch>
    <div>Model value: {{ swModel1 }}</div>
  </div>
  <h3>Use value and false-value</h3>
  <div class="demo">
    <az-switch value="on" false-value="off" v-model="swModel2" block class="mb-8">Option 1</az-switch>
    <div>Model value: {{ swModel2 }}</div>
  </div>
  <h3>Use in checkbox group</h3>
  <div class="demo">
    <az-checkbox-group
      name="sw-ch-1"
      v-model="swCh1"
      block
    >
      <az-switch value="1" class="mb-8">Option 1</az-switch>
      <az-switch value="2" class="mb-8">Option 2</az-switch>
      <az-switch value="3" class="mb-8">Option 3</az-switch>
    </az-checkbox-group>
    <div>Model value: {{ swCh1 }}</div>
  </div>
  <h3>Use as radio</h3>
  <div class="demo">
    <az-switch radio name="sw-rad-1" value="1" v-model="swRad1" block class="mb-8">Option 1</az-switch>
    <az-switch radio name="sw-rad-1" value="2" v-model="swRad1" block class="mb-8">Option 2</az-switch>
    <az-switch radio name="sw-rad-1" value="3" v-model="swRad1" block class="mb-8">Option 3</az-switch>
  </div>
  <h3>Use in radio group</h3>
  <div class="demo">
    <az-radio-group
      name="sw-rad-2"
      v-model="swRad2"
      block
    >
      <az-switch value="1" class="mb-8">Option 1</az-switch>
      <az-switch value="2" class="mb-8">Option 2</az-switch>
      <az-switch value="3" class="mb-8">Option 3</az-switch>
    </az-radio-group>
  </div>
</div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import AzSwitch from '../components/switch/index.vue';
import AzRadioGroup from '../components/radio/radio-group.vue';
import AzCheckboxGroup from '../components/checkbox/checkbox-group.vue';
const swModel1 = ref(false);
const swModel2 = ref('off');
const demo1 = ref('1');
const swRad1 = ref('1');
const swRad2 = ref('1');
const swCh1 = ref([]);
</script>

<style lang="scss" scoped>
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}
.d-flex {
  display: flex;
}
.d-col {
  flex: 1 1 0;
}
</style>
