<template>
<div class="demo-page">
  <h1>Text-field</h1>
  <h3>Default</h3>
  <div class="demo">
    <az-text-field />
  </div>
  <h3>With placeholder</h3>
  <div class="demo">
    <az-text-field placeholder="Placeholder" />
  </div>
  <h3>Error</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" error />
    </div>
    <az-text-field placeholder="Placeholder" error="Error message" />
  </div>
  <h3>With label</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" />
    </div>
    <az-text-field placeholder="Placeholder">
      <template v-slot:label>
        Label slot <az-icon icon="mdi:star" style="font-size: 12px; vertical-align: top" />
      </template>
    </az-text-field>
  </div>
  <h3>With description</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" description="Description text" />
    </div>
    <az-text-field placeholder="Placeholder">
      <template v-slot:label>
        Label slot <az-icon icon="mdi:star" style="font-size: 12px; vertical-align: top" />
      </template>
      <template v-slot:description>
        Description slot <az-icon icon="mdi:cat" style="font-size: 18px; vertical-align: middle" />
      </template>
    </az-text-field>
  </div>
  <h3>Horizontal</h3>
  <div class="demo demo-inputs-horizontal">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" description="Description text" horizontal />
    </div>
    <az-text-field placeholder="Placeholder" horizontal>
      <template v-slot:label>
        Label slot <az-icon icon="mdi:star" style="font-size: 12px; vertical-align: top" />
      </template>
      <template v-slot:description>
        Description slot <az-icon icon="mdi:cat" style="font-size: 18px; vertical-align: middle" />
      </template>
    </az-text-field>
  </div>
  <h3>With icon</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" icon="mdi:magnify" />
    </div>
  </div>
  <h3>Clearable</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" icon="mdi:magnify" clearable />
    </div>
  </div>
  <h3>Type = password</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field type="password" placeholder="Enter password" label="Label" icon="mdi:password" />
    </div>
  </div>
  <h3>Disabled</h3>
  <div class="demo">
    <div class="mb-16">
      <az-text-field placeholder="Placeholder" label="Label" disabled />
    </div>
  </div>
</div>
</template>

<script lang="ts" setup>

import AzTextField from '../components/text-field/index.vue';
import AzIcon from '../components/icon/index.vue';
</script>

<style scoped lang="scss">
@import "../sass/colors";
.demo {
  margin-bottom: 16px;
}

</style>

<style lang="scss">
.demo-inputs-horizontal {
  .az-text-field__label-wrapper {
    width: 150px;
  }
}
</style>
