<script setup lang="ts">
import { getCurrentInstance, nextTick, onMounted, ref } from 'vue';
import AzBtn from './btn/index.vue'
import AzIcon from './icon/index.vue';
import AzTextField from './text-field/index.vue';
import AzPositioner from './positioner/index.vue';
import AzPopup from './popup/index.vue';

defineProps<{ msg: string }>()

const appearance = ref<'default' | 'primary' | 'minimal'>('default')
const intent = ref<'none' | 'success' | 'error'>('none')
function changeAppearance() {
  const vals = ['default', 'primary', 'minimal'] as const;
  appearance.value = getNewValue(vals, appearance.value);
}
function changeIntent() {
  const vals = ['none', 'success', 'error'] as const;
  intent.value = getNewValue(vals, intent.value);
}

function getNewValue<A extends Readonly<any[]>>(arr: A, val: A[number]): A[number] {
  const index = arr.indexOf(val)
  if (index === arr.length - 1) {
    return arr[0]
  } else {
    return arr[index + 1]
  }
}

const inputModel = ref('')
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  data() {
    return {
      elRef: null as any,
      popupModel: false,
    }
  },
  mounted() {
    this.elRef = this.$refs.btn
    console.log(this.$refs.childRef)
  },
  methods: {
    updatePosition() {
      this.popupModel = !this.popupModel
    },
  }
})
</script>

<template>
  <section>
    <az-btn ref="childRef" data-btn :appearance="appearance" icon-after="mdi:close" @click="updatePosition">Кнопка</az-btn>
    <az-popup target="[data-btn]" ref="popup" outside v-model="popupModel" position="bottom">
      <span style="display:block; padding: 40px;">text</span>
    </az-popup>
    <az-btn :appearance="appearance" is-loading>Кнопка</az-btn>
    <div></div>
    <az-btn :appearance="appearance" icon-before="mdi:flower">Кнопка</az-btn>
    <az-btn :appearance="appearance" is-loading>Кнопка</az-btn>
    <div></div>
    <az-btn :appearance="appearance" icon="mdi:flower"></az-btn>
    <az-btn :appearance="appearance" icon="mdi:flower"></az-btn>
    <div></div>
    <az-btn :appearance="appearance" :intent="intent" icon-after="mdi:close">Кнопка</az-btn>
    <az-btn :appearance="appearance" :intent="intent" is-loading>Кнопка</az-btn>
    <div></div>
    <az-btn :appearance="appearance" :intent="intent" icon-before="mdi:flower">Кнопка</az-btn>
    <az-btn :appearance="appearance" :intent="intent" is-loading>Кнопка</az-btn>
    <div></div>
    <az-btn :appearance="appearance" :intent="intent" icon="mdi:flower">Кнопка</az-btn>
    <az-btn :appearance="appearance" :intent="intent" icon="mdi:flower"></az-btn>
    <div></div>
    <button type="button" @click="changeAppearance">Change appearance ({{ appearance }})</button>
    <button type="button" @click="changeIntent">Change intent ({{ intent }})</button>
  </section>
  <section>
    <h2>az-text-field</h2>
    <div class="example">
      {{ inputModel }}
      <az-text-field v-model="inputModel" />
    </div>
    <div class="example">
      <az-text-field error="Ошибка валидации" />
    </div>
    <div class="example">
      <az-text-field icon="mdi:search" clearable>
        <template v-slot:label>
          Номер телефона
        </template>
      </az-text-field>
    </div>
    <div class="example">
      <az-text-field label="Лэйбл" description="Описание инпута" />
    </div>
    <div class="example">
      <az-text-field error="Ошибка валидации" disabled />
    </div>
  </section>
  <div style="height: 400px"></div>

</template>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}

section {
    margin-bottom: 80px;
}

.example {
    margin-bottom: 16px;
}
</style>
