<template>
  <slot></slot>
</template>

<script lang="ts" setup>
import { PropType, provide, toRef, watch } from 'vue';
import { TPrimitiveNull } from '../radio/typings';
import { proxyValue } from '../../composables/base-input';
import { CheckboxGroupProvide } from './typings';

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: {
    type: Array as PropType<TPrimitiveNull[]>,
    default: () => ([]),
  },
  block: Boolean,
  disabled: Boolean,
  name: String,
})

const { internalValue, actualValue } = proxyValue(toRef(props, 'modelValue'), emit);
watch(toRef(props, 'modelValue'), (val) => internalValue.value = val)

function checkItem(value: TPrimitiveNull) {
  if (actualValue.value?.includes(value)) return;
  actualValue.value?.push(value)
}
function uncheckItem(value: TPrimitiveNull) {
  actualValue.value = actualValue.value?.filter((item) => item !== value)
}

provide<CheckboxGroupProvide>('checkboxGroup', {
  actualValue,
  checkItem,
  uncheckItem,
  block: toRef(props, 'block'),
  disabled: toRef(props, 'disabled'),
  name: toRef(props, 'name'),
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-checkbox-group',
});
</script>
