<template>
  <div :class="classes">
    <label>
      <input
        type="checkbox"
        class="az-checkbox__input"
        :name="computedName"
        :value="value"
        :disabled="isDisabled"
        :checked="isChecked"
        @change="updateValue"
        @focus="onFocus"
        @blur="onBlur"
        ref="input"
      />
      <span class="az-checkbox__indicator">
        <template v-if="isIntermediate">
          <az-icon icon="mdi:minus-thick" />
        </template>
        <template v-else>
          <az-icon v-show="isChecked" icon="mdi:check-bold" />
        </template>
      </span>
      <span class="az-checkbox__label" v-if="hasLabel">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script lang="ts" setup>
import { computed, getCurrentInstance, onUpdated, PropType, ref, toRef } from 'vue';
import AzIcon from '../icon/index.vue';
import './styles.scss'
import { TPrimitiveNull } from '../radio/typings';
import {
  getComputedIsBlock,
  getComputedIsDisabled,
  getComputedName,
  injectCheckboxGroup,
  useFocusBlurHook,
  useModelValueWatcher,
} from '../../composables/toggle-controls';

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: {
    type: [Boolean, String, Number] as PropType<boolean | string | number | null | undefined>,
    default: null,
  },
  value: {
    type: [Boolean, String, Number] as PropType<TPrimitiveNull>,
    default: null,
  },
  falseValue: {
    type: [Boolean, String, Number] as PropType<boolean | string | number>,
    default: false,
  },
  intent: {
    type: String as PropType<'default' | 'success' | 'error'>,
    default: 'default',
  },
  indeterminate: Boolean,
  block: Boolean,
  disabled: Boolean,
  name: String,
})

const checkboxGroup = injectCheckboxGroup()
const internalInputValue = ref(props.modelValue)
useModelValueWatcher(toRef(props, 'modelValue'), internalInputValue)

const instance = ref(getCurrentInstance());
const hasLabel = ref(!!instance.value?.slots.default)
const computedName = getComputedName(toRef(props, 'name'), undefined, checkboxGroup)

const isDisabled = getComputedIsDisabled(toRef(props, 'disabled'), undefined, checkboxGroup)
const isBlock = getComputedIsBlock(toRef(props, 'block'), undefined, checkboxGroup)
const isChecked = computed(() => {
  return checkboxGroup
    ? checkboxGroup.actualValue.value.includes(props.value)
    : props.value !== null
      ? internalInputValue.value === props.value
      : internalInputValue.value === true
})
const isIntermediate = computed<boolean>(() => {
  return props.indeterminate && (internalInputValue.value === null || internalInputValue.value === undefined)
})
const { isFocused, onFocus, onBlur } = useFocusBlurHook()

const classes = computed<Record<string, boolean>>(() => ({
  'az-checkbox': true,
  'az-checkbox--block': isBlock.value,
  'az-checkbox--is-checked': isChecked.value || isIntermediate.value,
  'az-checkbox--is-focused': isFocused.value,
  'az-checkbox--is-disabled': isDisabled.value,
  'az-checkbox--indeterminate': isIntermediate.value,
  ['az-checkbox--' + props.intent]: props.intent !== 'default',
}))

function updateValue(e: InputEvent) {
  if (checkboxGroup) {
    if (isChecked.value) {
      checkboxGroup.uncheckItem(props.value)
    } else {
      checkboxGroup.checkItem(props.value)
    }
  } else {
    internalInputValue.value = isChecked.value ? props.falseValue : (props.value !== null ? props.value : true)
    emit('update:modelValue', internalInputValue.value)
  }
}

onUpdated(() => {
  hasLabel.value = !!instance.value?.slots.default
})
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'az-checkbox',
});
</script>
