<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import Buttons from './demo/buttons.vue'
import Icons from './demo/icons.vue'
import Positioner from './demo/positioner.vue'
import Popup from './demo/popup.vue'
import TextField from './demo/text-field.vue'
import Menu from './demo/menu.vue'
import Checkbox from './demo/checkbox.vue'
import Radio from './demo/radio.vue'
import Switch from './demo/switch.vue'
import Select from './demo/select.vue'
import '@/sass/index.scss'
import '@/sass/demo.scss'
import { computed, onBeforeUnmount, onMounted, ref, watch, watchEffect } from 'vue';

const activePage = ref('Buttons')
const activeComponent = computed(() => {
  const needle = components.find((item) => item.name === activePage.value)
  if (needle) {
    return needle.component
  }
  return null
})
const components = [
  { name: 'Icons', component: Icons },
  { name: 'Buttons', component: Buttons },
  { name: 'Positioner', component: Positioner },
  { name: 'Popup', component: Popup },
  { name: 'Menu', component: Menu },
  { name: 'Checkbox', component: Checkbox },
  { name: 'Radio', component: Radio },
  { name: 'Switch', component: Switch },
  { name: 'Text field', component: TextField },
  { name: 'Select', component: Select },
]

function updatePage() {
  const hash = document.location.hash.replace('#', '')
  const activeComponent = components.find((item) => item.name.toLowerCase().replace(/[\s]/g, '_') === hash)
  if (activeComponent) activePage.value = activeComponent.name
}

onMounted(() => {
  window.addEventListener('hashchange', updatePage)
  updatePage()
})

onBeforeUnmount(() => {
  window.removeEventListener('hashchange', updatePage)
})
</script>

<template>
  <div class="demo-layout">
    <div class="demo-sidebar">
      <a
        v-for="item in components"
        :key="item.name"
        :href="'#' + item.name.replace(/[\s]/g, '_').toLowerCase()"
        class="demo-nav-link"
        :class="{'demo-nav-link--is-active': activePage === item.name}"
      >{{ item.name }}</a>
    </div>
    <div class="demo-body">
      <component :is="activeComponent" />
    </div>
  </div>
</template>

