<template>
  <div :class="classes">
    <div v-if="hasLabel || hasDescription" class="az-text-field__label-wrapper">
      <label v-if="hasLabel" :for="id" class="az-text-field__label">
        <slot name="label">{{ label }}</slot>
      </label>
      <div v-if="hasDescription" class="az-text-field__description">
        <slot name="description">{{ description }}</slot>
      </div>
    </div>
    <div class="az-text-field__body">
      <div class="az-text-field__container">
        <div v-if="hasIcon" class="az-text-field__icon">
          <slot name="icon">
            <az-icon v-if="icon" :icon="icon" />
          </slot>
        </div>
        <input
          :id="id"
          v-model="actualValue"
          :disabled="disabled"
          :type="type"
          class="az-text-field__input"
          :placeholder="placeholder"
          @blur="onBlur"
          @focus="onFocus"
        >
        <button
          class="az-text-field__btn"
          type="button"
          v-if="props.clearable"
          v-show="isFocused && actualValue && (actualValue + '').length"
          @mousedown.prevent
          @click.prevent="onBtnClick"
        >
          <az-icon icon="mdi:close-circle"></az-icon>
        </button>
      </div>
      <div
        v-if="error && errorText"
        class="az-text-field__messages">{{ errorText }}</div>
      <div
        class="az-text-field__messages">{{ previousValue }}</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import './styles.scss';
  import { computed, getCurrentInstance, onUpdated, ref, toRef } from 'vue';
  import * as uuid from 'uuid';
  import AzIcon from '../icon/index.vue';

  import {
    proxyValue,
    inputProps,
    focusable,
    inputWithErrorState,
    withLabel,
    withDescription,
  } from '../../composables/base-input';
  import usePrevious from '../../utils/usePrevious';

  const emit = defineEmits(['focus', 'blur', 'update:modelValue'])
  const props = defineProps({
    ...inputProps.base,
    ...inputProps.withPlaceholder,
    ...inputProps.withLabel,
    ...inputProps.withDescription,
    ...inputProps.withErrorState,
    ...inputProps.clearable,
    horizontal: Boolean,
    icon: String,
  })

  const { actualValue } = proxyValue(toRef(props, 'modelValue'), emit)
  let previousValue = usePrevious(actualValue, actualValue.value)

  const { isFocused, onFocus, onBlur } = focusable(emit)
  const { isError, errorText } = inputWithErrorState(toRef(props, 'error'))
  const { hasLabel } = withLabel(toRef(props, 'label'))
  const { hasDescription } = withDescription(toRef(props, 'description'))
  const id = uuid.v4();

  const hasIcon = computed(() => {
    const slot = getCurrentInstance()?.slots.icon
    return !!props.icon || !!slot;
  })

  const classes = computed(() => ({
    'az-text-field': true,
    'az-text-field--is-focused': isFocused.value,
    'az-text-field--is-error': isError.value,
    'az-text-field--is-disabled': props.disabled,
    'az-text-field--horizontal': props.horizontal,
    'az-text-field--with-icon': hasIcon.value,
    'az-text-field--with-btn': props.clearable,
  }))

  function onBtnClick() {
    actualValue.value = ''
  }
</script>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'az-text-field'
})
</script>
