@import "../../sass/colors";

.az-text-field {
  $el: &;
  display: inline-block;
  text-align: left;
  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $n800;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    color: $n700;
  }
  &__label + &__description {
    padding-top: 4px;
  }
  &__label-wrapper {
    margin-bottom: 8px;
  }
  &__input {
    border: none;
    height: 30px;
    flex: 1 1 auto;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 12px;
    background: none;
    color: $n800;
    width: 100%;
    &::placeholder {
      color: $n600;
    }

    &:focus {
      outline: none;
    }
  }
  &__container {
    border: 1px solid $n400;
    border-radius: 4px;
    background: $white;
    display: inline-flex;
    position: relative;
  }
  &__icon {
    position: absolute;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $n600;
    font-size: 18px;
    pointer-events: none;
  }
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    color: $n700;
  }

  &--with-icon &__input {
    padding-left: 30px;
  }
  &--with-btn &__input {
    padding-right: 30px;
  }

  &:not(&--is-disabled) &__container:hover &__input::placeholder {
    color: $n700;
  }
  &--is-focused &__input::placeholder {
    color: $n700;
  }
  &--is-focused &__container {
    border-color: $b300;
    box-shadow: 0 0 0 2px $b200;
  }
  &__messages {
    padding-top: 4px;
    font-size: 12px;
  }

  &--is-error &__container {
    border-color: $r400;
  }
  &--is-error &__messages {
    color: $r400;
  }
  &--is-error#{$el}--is-focused &__container{
    box-shadow: 0 0 0 2px $r100;
  }

  &--is-disabled &__container {
    cursor: not-allowed;
    background: $n100;
    border-color: $n300;
  }
  &--is-disabled &__input {
    color: $n600;
  }
  &--is-disabled &__messages {
    color: $r200;
  }

  &--horizontal {
    display: inline-flex;
    align-items: flex-start;
  }
  &--horizontal &__label-wrapper {
    flex: 0 0 auto;
    padding-right: 16px;
    align-self: center;
    margin-bottom: 0;
  }
  &--horizontal &__label+&__description {
    padding-top: 0;
  }
  &--horizontal &__body {
    flex: 1 1 auto;
  }
}
